# 忽略构建目录
cmake-build-debug/
cmake-build-release/

# 忽略生成的二进制文件
*.exe
*.out
*.o
*.a
*.so
*.dll

# 忽略临时文件
*.log
*.tmp
*.swp
*.bak

/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.13.4/CMakeCCompiler.cmake
/CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
/CMakeFiles/3.13.4/CMakeSystem.cmake
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/CMakeFiles/3.31.3/CompilerIdC/Debug/CMakeCCompilerId.obj
/CMakeFiles/3.31.3/CompilerIdC/Debug/CompilerIdC.exe.recipe
/CMakeFiles/3.31.3/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.31.3/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/CMakeFiles/3.31.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/CMakeFiles/3.31.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.31.3/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.31.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/CMakeFiles/3.31.3/x64/Debug/VCTargetsPath.recipe
/CMakeFiles/3.31.3/CMakeCCompiler.cmake
/CMakeFiles/3.31.3/CMakeCXXCompiler.cmake
/CMakeFiles/3.31.3/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.31.3/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.31.3/CMakeRCCompiler.cmake
/CMakeFiles/3.31.3/CMakeSystem.cmake
/CMakeFiles/3.31.3/VCTargetsPath.txt
/CMakeFiles/3.31.3/VCTargetsPath.vcxproj
/CMakeFiles/cv.dir/build.make
/CMakeFiles/cv.dir/cmake_clean.cmake
/CMakeFiles/cv.dir/depend.make
/CMakeFiles/cv.dir/DependInfo.cmake
/CMakeFiles/cv.dir/flags.make
/CMakeFiles/cv.dir/link.txt
/CMakeFiles/cv.dir/progress.make
/CMakeFiles/clion-environment.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/CMakeConfigureLog.yaml
/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/feature_tests.c
/CMakeFiles/feature_tests.cxx
/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile2
/CMakeFiles/progress.marks
/CMakeFiles/TargetDirectories.txt
/Makefile
/cv
/cmake-build-debug-loongson/CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-loongson/CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-loongson/CMakeFiles/3.13.4/CMakeCCompiler.cmake
/cmake-build-debug-loongson/CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
/cmake-build-debug-loongson/CMakeFiles/3.13.4/CMakeSystem.cmake
/cmake-build-debug-loongson/CMakeFiles/cv.dir/build.make
/cmake-build-debug-loongson/CMakeFiles/cv.dir/cmake_clean.cmake
/cmake-build-debug-loongson/CMakeFiles/cv.dir/depend.make
/cmake-build-debug-loongson/CMakeFiles/cv.dir/DependInfo.cmake
/cmake-build-debug-loongson/CMakeFiles/cv.dir/flags.make
/cmake-build-debug-loongson/CMakeFiles/cv.dir/link.txt
/cmake-build-debug-loongson/CMakeFiles/cv.dir/progress.make
/cmake-build-debug-loongson/CMakeFiles/clion-Debug-loongson-log.txt
/cmake-build-debug-loongson/CMakeFiles/clion-environment.txt
/cmake-build-debug-loongson/CMakeFiles/cmake.check_cache
/cmake-build-debug-loongson/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug-loongson/CMakeFiles/feature_tests.c
/cmake-build-debug-loongson/CMakeFiles/feature_tests.cxx
/cmake-build-debug-loongson/CMakeFiles/Makefile.cmake
/cmake-build-debug-loongson/CMakeFiles/Makefile2
/cmake-build-debug-loongson/CMakeFiles/progress.marks
/cmake-build-debug-loongson/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-loongson/cmake_install.cmake
/cmake-build-debug-loongson/CMakeCache.txt
/cmake-build-debug-loongson/loongson_camera.cbp
/cmake-build-debug-loongson/Makefile
